/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #6395ff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1300px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.container h1 {
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  padding: 40px 0 30px 0;
  color: #fff;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

.cards {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  height: 450px;
  margin: auto;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cards figure {
  width: 100%;
  height: 270px;
}

.cards figure img {
  width: 100%;
  height: 270px;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.box {
  height: 180px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
}

.box .text {
  height: 120px;
  color: #575757;
}

.text h2 {
  margin-bottom: 10px;
}

.text p {
  font-size: 15px;
  letter-spacing: 0.5px;
}

address {
  font-size: 12px;
  display: none;
}

address,
h2,
p {
  color: inherit;
}

.button-link {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 30px;
  color: #340eaf;
}

.button-link a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-link a:hover {
  color: #1200b9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-link i {
  font-size: 25px;
  padding: 0 10px;
  color: inherit;
}

.button-link a p {
  font-size: 18px;
  font-weight: bold;
  color: inherit;
}

footer {
  height: 50px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
}

footer p {
  padding-top: 15px;
}

footer p a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* MEDIAQUERIS */
@media (max-width: 1330px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 819px) {
  .cards {
    max-width: 325px;
  }
}
/*# sourceMappingURL=style_portafolio.css.map */