/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100%;
  background: #6395ff;
  background-image: url(/img/backg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.wrapper {
  max-width: 1000px;
  letter-spacing: 1px;
  padding: 40px 20px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}

.wrapper h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}

.wrapper p {
  font-size: 15px;
  color: #fff;
}

.wrapper main {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 500px;
  height: 300px;
  background-color: #1a217a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.wrapper main .card:hover a {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #63ffa9;
}

.wrapper main .card:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #222a92;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.wrapper main .card svg {
  fill: #2d4588;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.wrapper main .card:hover svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #63ffa9;
}

.wrapper main a {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 250px;
  color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper main a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 210px;
}

@media (max-width: 700px) {
  main {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
/*# sourceMappingURL=style.css.map */